.table > :not(caption) > * > * {
  padding: 2rem 2rem;
}

.table:hover > :not(caption) > * > * {
  transition: all 200ms;
  outline: 1px solid dodgerblue;
}

input, label {
  cursor: pointer;
}

.step-by-step-area {
  position: relative;
}

.step-by-step-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step-by-step-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  z-index: -1;
}

.step {
  display: flex;
  align-items: center;
  width: 160px;
  background: #ffff;
  justify-content: center;
  text-align: center;
}

.step i {
  font-size: 24px;
  margin-right: 10px;
}

.step h4 {
  margin-bottom: 0;
  font-size: 1rem;
}
